autopep8==1.6.0
beautifulsoup4==4.11.1
blinker==1.8.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.7
colorama==0.4.6
Flask==3.0.3
idna==3.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pycodestyle==2.8.0
PyPDF2==1.26.0
requests==2.27.1
soupsieve==2.3.2.post1
toml==0.10.2
urllib3==1.26.9
Werkzeug==3.0.3
